

body {
	background-image: url("../images/donut.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}
h1, h2{
	margin: 15px;
	width: 5%
}



